<% @page_title = "Newspapers" %>

<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %>

<div class="newspapers index">
  <h2>Newspapers</h2>

  <%= link_to(image_tag('add.png', :size => '11x11', :alt => '+') + " Add New Newspaper", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@newspapers.size, 'newspaper') %> found</div>
  <table class="listing" summary="Newspapers list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Newspaper</th>
      <th>Visible</th>
      <th>Categories</th>
      <th>Actions</th>
    </tr>
    <% @newspapers.each do |newspaper| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= newspaper.position %></td>
      <td><%= newspaper.name %></td>
      <td class="center"><%= status_tag(newspaper.visible) %></td>
      <td class="center"><%= newspaper.categories.size %></td>
      <td class="actions">
        <%= link_to("View Categories", {:controller => 'categories', :newspaper_id => newspaper.id}, :class => 'action show') %>
        <%= link_to("Show", {:action => 'show', :id => newspaper.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => newspaper.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => newspaper.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
