<% @page_title = "Categories" %>

<%= link_to("<< Back to Newspapers", {:controller => 'newspapers', :action => 'index'}, :class => 'back-link') %>

<div class="categories index">
  <h2>Categories</h2>

  <%= link_to("Add New Category", {:action => 'new', :newspaper_id => @newspaper.id}, :class => 'action new') %>

  <table class="listing" summary="Category list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Newspaper ID</th>
      <th>Category</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Articles</th>
      <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.position %></td>
      <td><%= category.newspaper.name if category.newspaper %></td>
      <td><%= category.name %></td>
      <td><%= category.permalink %></td>
      <td class="center"><%= status_tag(category.visible) %></td>
      <td class="center"><%= category.articles.size %></td>
      <td class="actions">
        <%= link_to("View Articles", {:controller => 'articles', :category_id => category.id}, :class => 'action show') %>
        <%= link_to("Show", {:action => 'show', :id => category.id, :newspaper_id => @newspaper.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => category.id, :newspaper_id => @newspaper.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => category.id, :newspaper_id => @newspaper.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
